{{#if selected }}
  <button type="button" class="btn btn-success"{{action 'selected'}}><i class="fa fa-smile-o fa-lg"></i></button>
{{else}}
  <button type="button" class="btn btn-default" {{action 'selected'}}><i class="fa fa-meh-o fa-lg"></i></button>
{{/if}}
