html, body {
  margin: 20px;
  background-image: url('../img/St-Louis-Map-blacks-and-whites-smaller-blueish.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left top;
  background-color: rgb(232, 247, 247);
  /* old purple color: #f0eafd*/
  /*darker purple #d0bdfa*/
}

span.visited {
    color: green;
}

span.not-visited {
    color: red;
}

.jumbotron-color {
  /*background-color: #d0bdfa;
  opacity: 0.85;*/
  /*old purple color: 208, 189, 250*/
  background: rgb(190, 233, 233); /* Fallback for older browsers without RGBA-support */
  background: rgba(190, 233, 233, 0.4);
}

.mid-opacity {
  /*background-color: #d0bdfa;
  opacity: 0.5;*/
  background: rgb(190, 233, 233); /* Fallback for older browsers without RGBA-support */
  background: rgba(190, 233, 233, 0.4);
}

.rounded-corners {
  border-radius: 5px;
  padding: 20px 20px 20px 20px;
}
